<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/static.css" type="text/css">
    <title>NotifiCan</title>
</head>
<body>
    <div class="header_holder">
        <div class="header">
            <div class="header_title">NotifiCan</div>
            <div class="header_logo">
                <img src="/static/icon.png" height="28" width="28">
            </div>
        </div>
        <div class="header_line"></div>
    </div>

    <div class="content_holder">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>